body{
    background-color: rgb(248, 144, 243); 
    background-image:  url(game-ratings-featured.jpg);
    background-size: cover;
    top: 500%;
    box-sizing: border-box;
}

.logo{
    background: linear-gradient(
    50deg,
    violet,
    lightblue
);
padding: 50px;
color: black;
text-align: center;
size: 50px;
font-size: 100px;
transform: translatey(-5px);
text-transform: capitalize;
}
table{
    width: 10px;
    font-style: oblique;
    font-weight: 1000;
    background: linear-gradient(
    50deg,
    violet,
    lightblue
);
padding: 10px;
margin: 20px;
color: black;
text-align: center;
font-size: 20px;
transform: translatey(-5px);
 width: 100px;
 height: 100px;
    text-align: center;
    transform: translateX(60%) translateY(-10%);
}


.product-box {
    position:absolute;
    height: 100px; 
    transition: opacity 0.4 ease-in-out;
    cursor: pointer;
}
.product-box img{
  position: relative;
    width: 300px;
    height: 250px;
    align-items: baseline;
    margin-top: 50px;
    margin-left: 80px;
}
 
.container{
    display: block;
    position: relative;
    cursor: pointer;

}
.click{
       background-color: blueviolet;
}
.click:hover{
    background-color: turquoise;
}
.click,.activate{
    padding: 12px;
    color:black;
    transition: 0.5s;
    display: block;
}
.list{ 
   position: relative;
   transform: scaleY(0);
   transform-origin: top;
   transition: 0.3s;
   display:none;
   
  
}


.active{
    background-color:none;
   
}
.active:hover{
    background-color:turquoise;
    transform: scale(1.1);
}







